html,
body {
    margin: 0;
    height: 100%;
}

#main {
    display: flex;
    height: 100%;
}

#menu .selection-shape {
    padding: 10px;
    vertical-align: middle;
}

#menu {
    background: white;
    margin: 4px, 4px;
    padding: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    padding: 10px;
    width: 20%;
}

#workspace {
    background-color: aquamarine;
    width: 80%;
}

#workspace .moveable-item {
    position: fixed;
    cursor: grab;
    transform-origin: center;
}